#error {
    margin-top: calc(var.$margin * 2);

    > p {
        &:nth-of-type(1) {
            word-break: keep-all;
        }

        &:nth-of-type(2) {
            word-break: break-all;
        }
    }
}
