@use './variables' as var;
@use './mixin' as mixin;

#div-footer {
    @include mixin.div-default(var.$padding) {
        border-top: var.$border;
    }

    #div-footer-content {
        max-width: var.$widthXl;
        margin: auto;
    }
}
