@use '../variables' as var;
@use './mixin' as mixin;

#div-footer {
    border-top: var.$border;

    #grid-footer {
        max-width: var.$widthXl;
        margin: auto;

        &-creator {
            @include mixin.div-default-footer {
                color: var.$footerColor;
            }

            p {
                margin: var.$margin;

                span {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }

        &-theme-color {
            @include mixin.div-default-footer {
                color: var.$footerColor;
            }

            p {
                margin: var.$margin;
                text-align: right;

                span {
                    padding: 2px 5px 1px 5px;
                    border-radius: var.$borderRadius;
                    color: #ffffff;
                }
            }
        }

        &-skill {
            @include mixin.div-default-footer {
                text-align: center;
            }

            img {
                margin: var.$margin;
                cursor: pointer;
            }
        }
    }
}
