@use 'assets/scss/variables' as var;

#layout-footer {
    border-top: var.$border;

    &-grid {
        max-width: var.$widthXl;
        margin: auto;

        p {
            margin: var.$margin;
            color: #808080;
        }

        &-creator {
            padding: var.$padding;

            span {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        &-theme-color {
            padding: var.$padding;

            p {
                text-align: right;

                span {
                    padding: 2px 5px 1px 5px;
                    color: #ffffff;
                }
            }
        }

        &-skill {
            display: flex;
            padding: var.$padding;
            padding-bottom: calc(var.$padding * 4);
            justify-content: center;
            flex-wrap: wrap;

            img {
                display: block;
                height: 20px;
                margin: var.$margin;
                cursor: pointer;
            }
        }
    }
}
