@use './variables' as var;
@use './mixin' as mixin;

#div-layout-header {
    @include mixin.div-layout-default(var.$padding) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: var.$heightForHeader;
        border-bottom: var.$border;
        background: var.$background;
        box-shadow: 0 0 10px 0 var.$borderColor;
    }

    #div-layout-header-content {
        max-width: var.$widthXl;
        margin: auto;
    }

    &.box-shadow-none {
        box-shadow: none;
    }
}
