@use '../variables' as var;
@use './mixin' as mixin;

#layout-header {
    z-index: var.$modalIndex;
    position: sticky;
    top: 0;
    height: var.$headerHeight;
    border-bottom: var.$border;
    backdrop-filter: var.$backdropFilter;
    box-shadow: var.$boxShadow;

    &.box-shadow-none {
        box-shadow: none;
    }

    &-grid {
        max-width: var.$widthXl;
        margin: auto;

        button {
            width: var.$headerInnerHeight;
            min-width: var.$headerInnerHeight;
            height: var.$headerInnerHeight;
            margin: var.$margin;

            span:first-child {
                margin-left: 0;
                margin-right: 0;
            }
        }

        &-icon {
            @include mixin.layout-header-grid-default;

            svg {
                height: var.$headerInnerHeight;
                margin: var.$margin;
            }
        }

        &-menu {
            @include mixin.layout-header-grid-default;
        }

        &-user {
            &-and-mode {
                @include mixin.layout-header-grid-default {
                    display: flex;
                }

                #button-logout,
                #button-mode {
                    width: var.$headerInnerHeight;
                    min-width: var.$headerInnerHeight;
                }
            }

            &-avatar {
                width: var.$headerInnerHeight;
                height: var.$headerInnerHeight;
                margin: var.$margin;
                cursor: pointer;

                .MuiAvatar {
                    &-root {
                        width: 100%;
                        height: 100%;
                        border: var.$border;
                    }
                }
            }
        }
    }
}

@media (min-width: var.$widthSm) {
    #layout-header {
        &-grid {
            button {
                width: auto;
                min-width: 64px;

                span:first-child {
                    margin-left: -4px;
                    margin-right: 8px;
                }
            }
        }
    }
}
