@use 'assets/scss/variables' as var;

#layout-main {
    &-grid {
        max-width: var.$widthXl;
        margin: auto;

        &-sidebar {
            position: fixed;
            top: 0;
            left: 0;
            display: none;
            width: 100vw;
            max-width: 250px;
            height: 100vh;
            padding: var.$padding;
            border-right: var.$border;
            overflow: auto;

            .Mui {
                &List-root {
                    width: 100%;
                }
            }
        }

        &-content {
            padding: var.$padding;
            padding-bottom: calc(var.$padding * 4);

            & > div {
                position: relative;
                min-height: var.$fontSize;
                margin: var.$margin;
            }
        }
    }

    &-to-top {
        position: fixed;
        right: 25px;
        bottom: 35px;
        display: flex;
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: center;
        border: var.$border;
        cursor: pointer;
    }
}

@media (min-width: var.$widthMd) {
    #layout-main {
        &-grid {
            &-sidebar {
                z-index: initial !important;
                position: initial;
                display: initial;
                height: initial;
            }
        }
    }
}
