@use './variables' as var;
@use './mixin' as mixin;

#div-layout-main {
    @include mixin.div-layout-default(var.$padding) {
        margin-top: var.$heightForHeader;
    }

    #div-layout-main-content {
        max-width: var.$widthXl;
        margin: auto;

        #div-layout-main-content-sidebar {
            width: var.$widthForSidebar;
            padding: 0 var.$padding 0 0;
        }
    }
}
