@use './variables' as var;

@mixin div-default-header {
    height: calc(var.$headerHeight - var.$borderSize);
    padding: var.$padding;
}

@mixin div-default-footer {
    padding: var.$padding;

    @content;
}
