@use '../variables' as var;

@mixin layout-header-grid-default {
    height: calc(var.$headerHeight - var.$borderSize);
    padding: var.$padding;

    @content;
}

@mixin div-default-footer {
    padding: var.$padding;

    @content;
}
