@use 'assets/scss/variables' as var;

@mixin layout-header-grid-default {
    padding: var.$padding;

    @content;
}

@mixin layout-footer-grid-default {
    padding: var.$padding;
    color: var.$footerColor;
}
