@use '../variables' as var;

#div-modal {
    z-index: var.$modalIndex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    #root > & {
        z-index: calc(var.$modalIndex + 1);
    }
}
