@use '../variables' as var;

#layout-popup {
    z-index: var.$modalIndex;
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: calc(100% - ((var.$margin + var.$padding) * 2));
    max-height: calc(100% - ((var.$margin + var.$padding) * 2));
    border: var.$border;
    border-radius: var.$borderRadius;
    transform: translate(-50%, -50%);
    overflow: auto;

    #root > & {
        z-index: calc(var.$modalIndex + 1);
    }

    #layout-popup-header {
        min-width: calc(var.$widthMin - ((var.$margin + var.$padding) * 2) - var.$borderSize);
        padding: var.$padding;
        border-bottom: var.$border;

        &-icon,
        &-close {
            width: calc(var.$popupIconSize + (var.$margin * 2));
            height: calc(var.$popupIconSize + (var.$margin * 2));
        }

        &-icon {
            svg {
                width: var.$popupIconSize;
                height: var.$popupIconSize;
                margin: var.$margin;
            }
        }

        &-label {
            p {
                margin: var.$margin;
                font-size: 18px;
                font-weight: bold;
            }
        }

        &-close {
            button {
                width: var.$popupIconSize;
                min-width: var.$popupIconSize;
                height: var.$popupIconSize;
                margin: var.$margin;
            }
        }
    }

    &-content {
        min-width: calc(var.$widthMin - ((var.$margin + var.$padding) * 2) - var.$borderSize);
        padding: calc(var.$padding * 2);

        & > div {
            margin: calc(var.$margin * 2);
        }
    }
}
