$widthLg: 1200px;
$widthXl: 1536px;

$widthForSidebar: 200px;

$heightForHeader: 55px;

$padding: 10px;

$borderColor: rgba(0, 0, 0, 0.23);
$border: 1px solid $borderColor;

$borderRadius: 10px;

$modalIndex: 1200;
