$widthSm: 600px;
$widthLg: 1200px;
$widthXl: 1536px;

$modalIndex: 1200;

$sidebarWidth: 200px;

$headerHeight: 55px;
$headerInnerHeight: 34px;

$margin: 10px;
$padding: 10px;
$paddingHalf: 5px;

$border: 1px solid rgba(25, 118, 210, 0.5);
$borderRadius: 4px;

$colorFooter: #808080;

$backgroundColorLight: rgba(248, 249, 250, 0.75);
$backgroundColorDark: rgba(33, 37, 41, 0.75);

$backdropFilter: blur(3px);

$boxShadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
