$rightToTop: 25px;
$bottomToTop: 35px;

$widthXl: 1536px;

$widthForSidebar: 200px;

$heightForHeader: 50px;

$padding: 10px;

$borderColor: rgba(0, 0, 0, 0.23);
$border: 1px solid $borderColor;

$background: rgba(255, 255, 255, 0.85);
