@use '../variables' as var;

#div-loading {
    position: absolute;
    top: calc(0px - var.$margin - var.$padding);
    left: calc(0px - var.$margin - var.$padding);
    width: calc(100% + ((var.$margin * 2) + (var.$padding * 2)));
    height: calc(100% + ((var.$margin * 5) + (var.$padding * 5)));
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
}
