#div {
    position: sticky;
    top: calc(0px - var.$margin - var.$padding - var.$headerInnerHeight);
    border-bottom: var.$border;
    backdrop-filter: var.$backdropFilter;

    #grid {
        max-width: var.$widthXl;
        margin: auto;

        .button {
            width: var.$headerInnerHeight;
            min-width: var.$headerInnerHeight;
            height: var.$headerInnerHeight;
        
            span:first-child {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}

@media (min-width: var.$widthMd) {
    #div {
        #grid {
            .button {
                width: auto;
                min-width: 64px;

                span:first-child {
                    margin-left: -4px;
                    margin-right: 8px;
                }
            }
        }
    }
}

@media (min-width: var.$widthSm) {
    #div {
        top: 0;
    }
}
