#creator {
    padding: var.$padding;

    #p {
        margin: var.$margin;
        color: var.$footerColor;

        #span {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
