#skills {
    padding: var.$padding;
    padding-bottom: calc(var.$padding * 4);

    img {
        display: block;
        height: 20px;
        margin: var.$margin;
        cursor: pointer;
    }
}
