#sub-menu {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: calc(var.$widthXs - var.$margin - var.$padding);
    max-width: calc(100% - var.$margin - var.$padding);
    height: 100vh;
    padding: var.$padding;
    border-right: var.$border;
    overflow: auto;

    &.visible {
        display: initial;
    }
}

@media (min-width: var.$widthMd) {
    #sub-menu {
        z-index: initial !important;
        position: initial;
        display: initial;
        height: initial;
    }
}
