@use 'assets/scss/variables' as var;

.display {
    &-initial {
        display: initial !important;
    }

    &-none-sm {
        display: none !important;
    }
}

.background-mode {
    &-light {
        background-color: var.$backgroundColorLight !important;
    }

    &-dark {
        background-color: var.$backgroundColorDark !important;
    }
}

@media (min-width: var.$widthSm) {
    .display {
        &-none-sm {
            display: initial !important;
        }
    }
}
