@use './variables' as var;

.display-none-sm {
    display: none;
}

.background-mode-light {
    background-color: var.$backgroundColorLight;
}

.background-mode-dark {
    background-color: var.$backgroundColorDark;
}

@media (min-width: var.$widthSm) {
    .display-none-sm {
        display: block;
    }
}
