@use 'assets/scss/variables' as var;

.Mui {
    &Alert {
        &-icon {
            align-items: center;
        }

        &-message {
            width: 100%;

            p {
                text-align: center;
                line-height: 20px;

                &:nth-of-type(1) {
                    word-break: keep-all;
                }

                &:nth-of-type(2) {
                    word-break: break-all;
                }
            }
        }
    }

    &Button-root {
        font-weight: bold !important;
    }

    &Tooltip-tooltip {
        padding: var.$padding calc(var.$padding * 2) !important;

        p {
            margin: calc(var.$margin / 2) 0;
            text-align: center;
        }
    }

    &Table{
        &-root {
            width: initial !important;
            margin: auto;
        }

        &Cell-head {
            font-weight: bold !important;
        }
    }

    &Pagination {
        &-root {
            margin-top: calc(var.$margin + var.$padding);
        }

        &-ul {
            justify-content: center;
        }

        &Item-previousNext {
            display: none !important;
        }
    }
}

@media (min-width: var.$widthSm) {
    .Mui {
        &Pagination {
            &Item-previousNext {
                display: initial !important;
            }
        }
    }
}
