$fontSize: 14px;

$widthXs: 360px;

$widthSm: 600px;
$widthMd: 900px;
$widthXl: 1536px;

$headerInnerHeight: 35px;

$margin: 5px;
$padding: $margin;

$borderSize: 1px;
$border: $borderSize solid;
$borderRadius: 4px;
