@use './variables' as var;

@use './layout/modal';
@use './layout/header';
@use './layout/main';
@use './layout/footer';
@use './layout/popup';

@use './popup/login';

body {
    min-width: var.$widthMin;

    .MuiButton-root {
        font-weight: bold;
    }

    .MuiTooltip-tooltip {
        padding: var.$padding calc(var.$padding * 2);

        .p-tooltip {
            & {
                margin: 0;
                text-align: center;
            }
            &:not(:first-child) {
                margin-top: calc(var.$margin / 2);
            }
        }
    }
    .MuiAlert {
        &-icon {
            align-items: center;
        }

        &-message {
            width: 100%;

            p {
                margin: 0;
                text-align: center;

                &#p-message {
                    word-break: keep-all;
                }

                &#p-code {
                    margin-top: 5px;
                    word-break: break-all;
                }
            }
        }
    }
}
