@use './variables' as var;

@use './common';

@use './layout/header';
@use './layout/main';
@use './layout/footer';
@use './layout/popup';

@use './pages/popup/login';

@use './components/common/modal';

body {
    min-width: var.$widthMin;

    .Mui {
        &Alert {
            &-icon {
                align-items: center;
            }

            &-message {
                width: 100%;

                p {
                    margin: 0;
                    text-align: center;
                    line-height: 20px;

                    &:nth-of-type(1) {
                        word-break: keep-all;
                    }

                    &:nth-of-type(2) {
                        word-break: break-all;
                    }
                }
            }
        }

        &Button-root {
            font-weight: bold;
        }

        &Tooltip-tooltip {
            padding: var.$padding calc(var.$padding * 2);

            p {
                margin: calc(var.$margin / 2) 0;
                text-align: center;
            }
        }

        &Snackbar-root {
            position: absolute;
            min-width: calc(var.$widthMin - 16px);
        }
    }
}
