#loading {
    position: absolute;
    top: calc(0px - var.$margin - var.$padding);
    left: calc(0px - var.$margin - var.$padding);
    display: flex;
    width: calc(100% + ((var.$margin * 2) + (var.$padding * 2)));
    height: calc(100% + ((var.$margin * 2) + (var.$padding * 5)));
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
}
