#popup {
    position: fixed;
    top: calc(50vh + ((var.$margin + var.$padding + var.$headerInnerHeight) / 2));
    left: 50vw;
    max-width: calc(100vw - (var.$margin * 2) - (var.$padding * 2));
    max-height: calc(100vh - (var.$margin * 2) - (var.$padding * 2) - ((var.$margin + var.$padding + var.$headerInnerHeight) * 2));
    border: var.$border;
    border-radius: var.$borderRadius;
    transform: translate(-50%, -50%);
    overflow: auto;

    > div {
        $minWidth: calc(var.$widthXs - (var.$margin * 2) - (var.$padding * 2) - (var.$borderSize * 2));

        &:nth-of-type(1) {
            min-width: $minWidth;
            border-bottom: var.$border;

            > div {
                $iconSize: 27px;

                &:nth-of-type(1) {
                    padding: var.$padding;

                    > svg {
                        display: block;
                        width: $iconSize;
                        height: $iconSize;
                        margin: var.$margin;
                    }
                }

                &:nth-of-type(2) {
                    padding: var.$padding;
                    align-content: center;

                    > p {
                        margin: var.$margin;
                        font-size: 18px;
                        font-weight: bold;
                    }
                }

                &:nth-of-type(3) {
                    padding: var.$padding;

                    > button {
                        width: $iconSize;
                        height: $iconSize;
                        margin: var.$margin;
                    }
                }
            }
        }

        &:nth-of-type(2) {
            min-width: $minWidth;
            padding: calc(var.$padding * 2);

            > div {
                position: relative;
                margin: calc(var.$margin * 2);
            }
        }
    }
}

@media (min-width: var.$widthSm) {
    #popup {
        top: 50vh;
        max-height: calc(100vh - (var.$margin * 2) - (var.$padding * 2));
    }
}
