$fontSize: 14px;

$widthXs: 360px;

$widthSm: 600px;
$widthMd: 900px;
$widthXl: 1536px;

$headerInnerHeight: 35px;

$margin: 5px;
$padding: $margin;

$headerHeightWithoutBorder: calc(($margin * 2) + ($padding * 2) + $headerInnerHeight);

$grey: #808080;

$borderSize: 1px;
$border: $borderSize solid;
$borderRadius: 4px;

$backdropFilter: blur(3px);

$boxShadow: 0 0 10px 0 #00000033;
