* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    min-width: var.$widthXs;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

input::-ms-reveal {
    display : none;
}

.Mui {
    &List {
        &ItemButton-root {
            margin: var.$margin !important;
            border-radius: var.$borderRadius !important;
        }
    }

    &Pagination {
        &-root {
            margin-top: calc(var.$margin + var.$padding);
        }

        &Item-previousNext {
            display: none;
        }
    }
}

@media (min-width: var.$widthSm) {
    .Mui {
        &Pagination {
            &Item-previousNext {
                display: initial;
            }
        }
    }
}
