* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: var.$fontSize;
}

body {
    min-width: var.$widthXs;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.Mui {
    &Alert {
        &-icon {
            align-items: center;
        }

        &-message {
            flex-grow: 1;
            text-align: center;
        }
    }

    &Button-root span {
        font-weight: bold;
    }

    &List {
        &-root {
            padding: 0 !important;
        }

        &ItemButton-root {
            margin: var.$margin !important;
            border-radius: var.$borderRadius !important;
        }
    }

    &TextField-root {
        margin: calc(var.$margin * 2) 0 var.$margin !important;
    }
}
