.display {
    &-initial {
        display: initial !important;
    }

    &-none-md {
        display: none;
    }
}

.width-initial {
    width: initial !important;
}

.word {
    &-keep {
        word-break: keep-all;
    }

    &-break {
        word-break: break-all;
    }
}

.background-color {
    &-light {
        background-color: #f8f9fabf;
    }

    &-dark {
        background-color: #212529bf;
    }
}

.box-shadow {
    box-shadow: var.$boxShadow;
}

@media (min-width: var.$widthMd) {
    .display {
        &-none-md {
            display: initial;
        }
    }
}
