.position-relative {
    position: relative;
}

.display {
    &-block {
        display: block !important;
    }

    &-none-md {
        display: none;
    }
}

@media (min-width: var.$widthMd) {
    .display {
        &-none-md {
            display: initial;
        }
    }
}
