@use '../../variables' as var;

#layout-main-grid-content {
    padding: var.$padding var.$padding calc(var.$padding * 4);

    & > div {
        position: relative;
        min-height: var.$fontSize;
        margin: var.$margin var.$margin calc(var.$margin * 4);
    }
}
