@use 'assets_bak/scss/variables' as var;

$headerHeightWithoutBorder: calc((var.$margin * 2) + (var.$padding * 2) + var.$headerInnerHeight);

#layout-header {
    position: sticky;
    top: calc(0px - var.$margin - var.$padding - var.$headerInnerHeight);
    height: calc(($headerHeightWithoutBorder * 2) - var.$margin - var.$padding + var.$borderSize);
    border-bottom: var.$border;

    &-grid {
        max-width: var.$widthXl;
        margin: auto;

        .button-header {
            width: var.$headerInnerHeight;
            min-width: var.$headerInnerHeight;
            height: var.$headerInnerHeight;

            span:first-child {
                margin-left: 0;
                margin-right: 0;
            }
        }

        &-logo {
            width: $headerHeightWithoutBorder;
            padding: var.$padding;
            padding-bottom: calc(var.$padding / 2);
            order: 1;

            svg {
                display: block;
                height: var.$headerInnerHeight;
                margin: var.$margin;
                margin-bottom: calc(var.$margin / 2);
            }
        }

        &-sidebar {
            padding: var.$padding;
            padding-top: calc(var.$padding / 2);
            order: 3;

            button {
                margin: var.$margin;
                margin-top: calc(var.$margin / 2);
            }
        }

        &-menu {
            padding: var.$padding;
            padding-top: calc(var.$padding / 2);
            order: 4;

            button {
                margin: var.$margin;
                margin-top: calc(var.$margin / 2);
            }
        }

        &-user {
            display: flex;
            padding: var.$padding;
            padding-top: calc(var.$padding / 2);
            order: 5;

            &-avatar {
                width: var.$headerInnerHeight;
                height: var.$headerInnerHeight;
                margin: var.$margin;
                margin-top: calc(var.$margin / 2);
                cursor: pointer;

                .Mui {
                    &Avatar-root {
                        width: 100%;
                        height: 100%;
                        border: var.$border;
                    }
                }
            }

            #button {
                &-logout,
                &-login {
                    margin: var.$margin;
                    margin-top: calc(var.$margin / 2);
                }

                &-logout {
                    width: var.$headerInnerHeight;
                    min-width: var.$headerInnerHeight;
                }
            }
        }

        &-mode {
            flex-basis: calc(100% - $headerHeightWithoutBorder);
            padding: var.$padding;
            padding-bottom: calc(var.$padding / 2);
            text-align: right;
            order: 2;

            button {
                width: var.$headerInnerHeight;
                min-width: var.$headerInnerHeight;
                margin: var.$margin;
                margin-bottom: calc(var.$margin / 2);
            }
        }
    }
}

@media (min-width: var.$widthMd) {
    #layout-header {
        &-grid {
            &-sidebar {
                display: none;
            }

            .button-header {
                width: auto;
                min-width: 64px;

                span:first-child {
                    margin-left: -4px;
                    margin-right: 8px;
                }
            }
        }
    }
}

@media (min-width: var.$widthSm) {
    #layout-header {
        top: 0;
        height: calc($headerHeightWithoutBorder + var.$borderSize);

        &-grid {
            &-logo {
                padding: var.$padding;
                order: 2;

                svg {
                    margin: var.$margin;
                }
            }

            &-sidebar {
                padding: var.$padding;
                order: 1;

                button {
                    margin: var.$margin;
                }
            }

            &-menu {
                padding: var.$padding;
                order: 3;

                button {
                    margin: var.$margin;
                }
            }

            &-user {
                padding: var.$padding;
                padding-right: calc(var.$padding / 2);
                order: 4;

                &-avatar {
                    margin: var.$margin;
                }

                #button {
                    &-logout,
                    &-login {
                        margin: var.$margin;
                        margin-right: calc(var.$margin / 2);
                    }
                }
            }

            &-mode {
                flex-basis: auto;
                padding: var.$padding;
                padding-left: calc(var.$padding / 2);
                order: 5;

                button {
                    margin: var.$margin;
                    margin-left: calc(var.$margin / 2);
                }
            }
        }
    }
}
