@use 'assets_bak/scss/variables' as var;

#layout-popup {
    position: fixed;
    top: 50vh;
    left: 50vw;
    max-width: calc(100vw - (var.$margin * 2) - (var.$padding * 2));
    max-height: calc(100vh - (var.$margin * 2) - (var.$padding * 2));
    border: var.$border;
    transform: translate(-50%, -50%);
    overflow: auto;

    &-header {
        min-width: calc(var.$widthXs - (var.$margin * 2) - (var.$padding * 2) - (var.$borderSize * 2));
        padding: var.$padding;
        border-bottom: var.$border;

        $iconSize: 27px;

        &-icon,
        &-close {
            width: calc((var.$margin * 2) + $iconSize);
            height: calc((var.$margin * 2) + $iconSize);
        }

        &-icon svg,
        &-close button {
            width: $iconSize;
            height: $iconSize;
            margin: var.$margin;
        }

        &-label {
            align-content: center;

            p {
                margin: var.$margin;
                font-size: 18px;
                font-weight: bold;
            }
        }

        &-close button {
            min-width: $iconSize;
        }
    }

    &-content {
        min-width: calc(var.$widthXs - (var.$margin * 2) - (var.$padding * 2) - (var.$borderSize * 2));
        padding: calc(var.$padding * 2);

        & > div {
            margin: calc(var.$margin * 2);
        }
    }
}
