@use '../variables' as var;

#form-login {
    #div-login {
        &-alert {
            margin-top: calc(var.$margin + var.$padding);
            word-break: keep-all;
        }

        &-submit {
            button {
                width: 100%;
                margin-top: calc((var.$margin * 2) + (var.$padding * 2));
            }
        }
    }
}
