@use '../variables' as var;

#form-login {
    #div-login {
        &-alert {
            .MuiAlert {
                &-root {
                    margin-top: 10px;
                }

                &-icon {
                    align-items: center;
                }

                &-message {
                    width: 100%;

                    p {
                        margin: 0;
                        text-align: center;

                        &#p-message {
                            word-break: keep-all;
                        }

                        &#p-code {
                            margin-top: 5px;
                            word-break: break-all;
                        }
                    }
                }
            }
        }

        &-submit {
            button {
                width: 100%;
                margin-top: calc((var.$margin * 2) + (var.$padding * 2));
            }
        }
    }
}
