@use '../../variables' as var;

#form-login {
    .MuiAlert {
        &-root {
            margin-top: 10px;
        }
    }

    #button-login-submit {
        width: 100%;
        margin-top: 20px;
    }
}
