@use '../../variables' as var;

#form-login {
    .Mui {
        &Alert-root {
            margin-top: calc(var.$margin * 2);
        }
    }

    #button-login-submit {
        width: 100%;
        margin-top: calc(var.$margin * 4);
    }
}
