@use 'assets_bak/scss/variables' as var;

.display {
    &-initial {
        display: initial !important;
    }

    &-none-md {
        display: none;
    }
}

.background-color {
    &-light {
        background-color: #f8f9fabf;
    }

    &-dark {
        background-color: #212529bf;
    }
}

.border-radius {
    border-radius: var.$borderRadius;
}

.backdrop-filter-blur {
    backdrop-filter: blur(3px);
}

.box-shadow {
    box-shadow: 0 0 10px 0 #00000033;
}

@media (min-width: var.$widthMd) {
    .display {
        &-none-md {
            display: initial;
        }
    }
}
